.qa {
    border-bottom: 1px solid black;
    width: 850px;
    height: 220px;
    margin-top: 30px;
}

#question {
    margin-left: 20px;
    color: red;
    font-size: 18px;
    font-family: italic;
}

#answer {
    margin-left: 40px;
    color: green;
    font-size: 18px;
    font-family: italic;
}

.all {
    border: 1px solid black;
    width: 850px;
    margin-top: 20px;
    margin-left: 30px;
}

#que {
    width: 550px;
    height: 50px;
    resize: none;
    outline: none;
    border: none;
}

#ans {
    resize: none;
    width: 550px;
    height: 70px;
    border: none;
    outline: none;
}

.post {
    width: 550;
    height: 50;
}

nav {
    background-color: black;
    color: white;
    height: 50px;
}

nav p {
    display: inline;
    margin-left: 30px;
    padding-top: 20px;
}

#send {
    background-color: white;
    color: black;
    font-size: 20px;
}

.textarea {
    border: 1px solid #e0e0e0;
    width: 550px;
    margin-top: 20px;
    margin-left: 20px;
}

#send {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    background-color: #1e88e5;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
}

.update {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    background-color: #1e88e5;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
}
#anpost
{
	float: right;
    margin-top: 15px;
    margin-right: 10px;
    background-color: #1e88e5;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
}
#qaAddForm {
    margin-top: 100px;
}
#anAddForm {
    width:100px;
}
#loopans
{
	margin-top:10px;
}
.qdate
{
	float:right;
	margin-top: -10px;
	margin-right: 10px;
}
#nav
{
	background-image:url('images/qa.png');

    height:500px

}
.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  ul li
  {
  margin-left:20px;
  }