.qa
{
	border:1px solid black;
	width:550px;
		height:180px;
		margin-top:100px;
}
#question
{
margin-left: 20px;
color:red;
}
#answer
{
	margin-left: 40px;
	color:green;
}
#que
{
	width:550px;
	height:50px;
	resize:none;
	
	
}
#ans
{
	resize:none;
	width:550px;
	height:70px;
	border:none;
	outline:none;
}
.post
{
	width:550;
	height:50;
}
#send
{
	background-color:white;
	color:black;
	font-size:20px;
}
.textarea
{
	border:1px solid black;
	width:550px;

}
#send
{
	float:right;
	margin-top:20px;
}